<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../core/services/five-hundred-px-service.html">
<link rel="import" href="../core/storages/five-hundred-px-storage.html">
<link rel="import" href="../views/fragments/home-view.html">

<dom-module id="home-fragment">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        width: 100%;
      }
    </style>

    <five-hundred-px-service id="service"></five-hundred-px-service>
    <five-hundred-px-storage id="storage" items="{{items}}"></five-hundred-px-storage>
    <home-view id="view" images="[[items]]"></home-view>
  </template>

  <script>
    class HomeFragment extends Polymer.Element {
      static get is() {
        return 'home-fragment';
      }

      onInvisible() {
        console.log('onInvisible()');
      }

      onVisible() {
        console.log('onVisible()');

        this.$.service.fetch().then(photos => {
          this.$.storage.items = photos.map(item => item.image_url);
        });
      }
    }

    window.customElements.define(HomeFragment.is, HomeFragment);
  </script>
</dom-module>
