<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../core/storages/five-hundred-px-storage.html">
<link rel="import" href="../views/fragments/image-details-view.html">

<dom-module id="image-details-fragment">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        width: 100%;
      }
    </style>

    <five-hundred-px-storage id="storage"></five-hundred-px-storage>
    <image-details-view id="view"></image-details-view>
  </template>

  <script>
    class ImageDetailsFragment extends Polymer.Element {
      static get properties() {
        return {
          imageId: {
            observer: '__imageIdChanged',
            type: Number
          }
        };
      }

      static get is() {
        return 'image-details-fragment';
      }

      onVisible() {
        this.$.view.shadowRoot.querySelector('app-header-layout').notifyResize();
      }

      ready() {
        super.ready();

        this.addEventListener('click', (event) => {
          const composedPath = event.composedPath();

          if ((composedPath[0].nodeName.toLowerCase() != 'paper-icon-button') && (composedPath[0].nodeName.toLowerCase() != 'iron-icon'))
            return;

          const item = (composedPath[0].nodeName.toLowerCase() == 'paper-icon-button')
            ? composedPath[0]
            : composedPath[2];

          if (item.id == 'back')
            this.container.path = '/';
        });
      }

      __imageIdChanged(imageId) {
        this.$.view.image = this.$.storage.findById(imageId);
      }
    }

    window.customElements.define(ImageDetailsFragment.is, ImageDetailsFragment);
  </script>
</dom-module>
