<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../fragments/home-fragment.html">
<link rel="import" href="../fragments/image-details-fragment.html">
<link rel="import" href="../views/fragments/main-view.html">

<dom-module id="main-fragment">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        width: 100%;
      }
    </style>

    <main-view>
      <home-fragment id="home"></home-fragment>
      <image-details-fragment id="details"></image-details-fragment>
    </main-view>
  </template>

  <script>
    class MainFragment extends Polymer.Element {
      static get is() {
        return 'main-fragment';
      }

      constructor() {
        super();
        this.fragments = [];
        this.visibleFragments = [];
      }

      initFragments() {
        this.fragments = [
          this.$.details,
          this.$.home,
        ];

        this.fragments.forEach(item => {
          item.frame = this;
          item.style.display = 'none';
        });
      }

      onInvisible() {
        console.log('onInvisible()');
      }

      onVisible() {
        console.log('onVisible()');
        this.setVisibleFragment(this.$.home);
      }

      ready() {
        super.ready();
        this.initFragments();
      }

      setVisibleFragment(fragment, data) {
        if (this.visibleFragments.indexOf(fragment) !== -1) return;

        this.visibleFragments.forEach(item => {
          item.style.display = 'none';
          (typeof item.onInvisible === 'function') && item.onInvisible();
        });

        fragment.style.display = '';
        (typeof fragment.onVisible === 'function') && fragment.onVisible();
        (typeof fragment.onData === 'function') && fragment.onData(data);
        this.visibleFragments = [fragment];
      }

      setVisibleFragmentById(id, data) {
        this.setVisibleFragment(this.$[id], data);
      }

      setVisibleFragmentByTag(tag, data) {
        this.setVisibleFragment(this.shadowRoot.querySelector(tag), data);
      }
    }

    window.customElements.define(MainFragment.is, MainFragment);
  </script>
</dom-module>
