<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../views/fragments/main-view.html">
<link rel="import" href="../app-fragment.html">
<link rel="import" href="home-fragment.html">
<link rel="import" href="image-details-fragment.html">

<dom-module id="main-fragment">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        width: 100%;
      }
    </style>

    <main-view id="view">
      <home-fragment id="home"
        data-route="^/$"></home-fragment>
      <image-details-fragment id="details"
        data-route="^/photos/([0-9]+):imageId$"></image-details-fragment>
    </main-view>
  </template>

  <script>
    class MainFragment extends AppFragment(Polymer.Element) {
      static get is() {
        return 'main-fragment';
      }

      static get properties() {
        return {
          path: {
            notify: true,
            observer: '_pathChanged',
            type: String
          }
        };
      }

      get fragments() {
        return Array.prototype.slice.call(this.$.view.children);
      }

      // Override this method to avoid [databinding-calls-must-be-functions] warning when running `polymer lint`
      _pathChanged(path) {
        super._pathChanged(path);
      }
    }

    window.customElements.define(MainFragment.is, MainFragment);
  </script>
</dom-module>
