<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../core/services/five-hundred-px-service.html">
<link rel="import" href="../views/fragments/splash-view.html">

<dom-module id="splash-fragment">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        width: 100%;
      }
    </style>

    <five-hundred-px-service id="service"></five-hundred-px-service>
    <splash-view></splash-view>
  </template>

  <script>
    class SplashFragment extends Polymer.Element {
      static get is() {
        return 'splash-fragment';
      }

      onVisible() {
        this.$.service.fetch().then(() => this.container.setVisibleFragmentByTag('main-fragment'));
      }

      ready() {
        super.ready();
      }
    }

    window.customElements.define(SplashFragment.is, SplashFragment);
  </script>
</dom-module>
