<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="users-fragment.html">

<dom-module id="home-fragment">
  <template>
    <style>
      :host {
        background: #dddddd;
        display: block;
      }
    </style>

    <h2>users-fragment (home)</h2>
  </template>

  <script>
    class HomeFragment extends UsersFragment {
      static get is() {
        return 'home-fragment';
      }

      get fragments() {
        return [];
      }

      __pathChanged() {}
    }

    window.customElements.define(HomeFragment.is, HomeFragment);
  </script>
</dom-module>
