<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="page404-fragment">
  <template>
    <style>
      :host {
        background: #dddddd;
        display: block;
      }
    </style>

    <h2>page404-fragment</h2>
  </template>

  <script>
    class Page404Fragment extends Polymer.Element {
      static get is() {
        return 'page404-fragment';
      }
    }

    window.customElements.define(Page404Fragment.is, Page404Fragment);
  </script>
</dom-module>
