<link rel="import" href="../../../bower_components/shadycss/apply-shim.html">
<link rel="import" href="../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../image-list-view.html">

<dom-module id="main-view">
  <template>
    <style>
      :host {
        @apply --shadow-elevation-2dp;

        background: white;
        display: block;
        height: 100%;
        margin: auto;
        max-width: 960px;
        overflow: auto;
      }

      @media (min-width: 1025px) {
        :host::-webkit-scrollbar {
          background: transparent;
          width: 0.75em;
        }
        :host::-webkit-scrollbar-thumb {
          background: rgba(85, 85, 85, 0.25);
        }
        :host::-webkit-scrollbar-track {
        }
      }

      h1 {
        @apply --paper-font-display2;

        line-height: 1em;
        margin: 0;
        padding: 1em;
        text-align: center;
      }
      image-list-view {
        width: 100%;
      }
    </style>

    <h1>Some pics that I like</h1>

    <image-list-view items="[[images]]"></image-list-view>
  </template>

  <script>
    class MainView extends Polymer.Element {
      static get is() {
        return 'main-view';
      }

      static get properties() {
        return {
          images: Array
        };
      }
    }

    window.customElements.define(MainView.is, MainView);
  </script>
</dom-module>
