<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="image-list-item-view.html">

<dom-module id="image-list-view">
  <template>
    <style>
      :host {
        display: block;
      }

      image-list-item-view {
        height: 96px;
        margin-top: 0.25em;
      }
    </style>

    <template id="repeat" is="dom-repeat" items="[[items]]">
      <image-list-item-view image-url="[[item.image_url]]"></image-list-item-view>
    </template>
  </template>

  <script>
    class ImageListView extends Polymer.Element {
      static get is() {
        return 'image-list-view';
      }

      static get properties() {
        return {
          items: Array
        };
      }
    }

    window.customElements.define(ImageListView.is, ImageListView);
  </script>
</dom-module>
